<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Index Page</title>
    </head>
    <body>
        <form action="/additem" method="POST">
            <select name="energy_use" id="energy_use">
                <option value="heating">HEATING</option>
                <option value="water_heating">WATER HEATING</option>
                <option value="cooking">COOKING</option>
                <option value="lighting">LIGHTING</option>
                <option value="tv">TV/COMPUTERS/RELATED</option>
                <option value="fridge">REFRIDGERATORS/FREEZERS</option>
                <option value="wash">WASHERS/DRYERS</option>
                <option value="cooking">COOKING</option>
                <option value="other">OTHER</option>
            </select>
            <br />
            <br />
            <label for="electricity">ELECTRICITY</label>
            <input type="text" name="electricity" id="electricity" />
            <br />
            <br />
            <label for="natural_gas">NATURAL GAS</label>
            <input type="text" name="natural_gas" id="natural_gas" />
            <br />
            <br />
            <label for="oil">OIL</label>
            <input type="text" name="oil" id="oil" />
            <br />
            <br />
            <label for="lpg">LPG</label>
            <input type="text" name="lpg" id="lpg" />
            <br />
            <br />
            <button>SUBMIT</button>
        </form>
    </body>
</html>
